h3{
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  text-align: center;
}
h5 {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Kalam', cursive;
  text-align: center;
  font-size: 30px;
}
.form-control{
  width: 50%;
}
h6 {
  margin-left: 30%;
  font-family: 'Kalam', cursive;
}
.score {
  width: 30%;
  margin-left: 23%;
}
.btn{
  margin-top: 20px;
  width: 50%;
  border-radius: 30px;
}
.jumbotron{
  padding: 10px;
  background: none;
}
body{
  background-image: url(../images/sativa.png);
}
.start-game{
  margin-left: 22%;
  width: 40%;
  border-radius: 150px 100px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.titles{
  font-family: 'Kalam', cursive;
  font-size: 25px;
}
.placement{
  margin-left: 15%;
}
#game-interface{
  display: none;
}
#restart{
  margin-left: 38%;
  width: 20%;
}
.names{
  width: 80%;
  border-radius: 35px 10px;
}
